{% extends "../Main.html" %}
{% block main %} 
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Update Product</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item"><a href="/admin/category">Category</a></li>
                            <li class="breadcrumb-item active">Update Category</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Update Category</h4>
                            <h5 class="box-title m-b-20">
                                {% if(message.success) %}
                                    <div class="alert alert-success" role="alert">
                                        {{message.success}}
                                    </div>
                                {% endif %}
                                {% if(message.failed) %}
                                    <div class="alert alert-warning" role="alert">
                                        {{message.failed}}
                                    </div>
                                {% endif %}
                            </h5>

                            <form class="form p-t-10" action="/admin/category/edit/{{category[0].id_category}}" method="post" >
                                <div class="form-group">
                                    <label for="exampleInputuname">Category Name</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                        </div>
                                        <input type="text" name="name" value="{{category[0].name}}" class="form-control" placeholder="Category Name" aria-label="Category Name" aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Status Category</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-server"></i></span>
                                        </div>
                                        <select name="status" class="form-control custom-select">
                                            <option {% if category[0].status==1 %} selected {% endif %} value="1">Active</option>
                                            <option {% if category[0].status==0 %} selected {% endif %} value="0">Not Active</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Update Category</button>
                                <a href="/admin/category" class="btn btn-primary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
{% endblock %}