{% extends "../Main.html" %}
{% block main %}
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">General Settings</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin/home">Home</a></li>
                            <li class="breadcrumb-item"><a href="admin/settings/general">Settings</a></li>
                            <li class="breadcrumb-item active">General Settings</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">General Settings</h4>
                            <h5 class="box-title m-b-20">
                                {% if(message.success) %}
                                    <div class="alert alert-success" role="alert">
                                        {{message.success}}
                                    </div>
                                {% endif %}
                                {% if(message.failed) %}
                                    <div class="alert alert-warning" role="alert">
                                        {{message.failed}}
                                    </div>
                                {% endif %}
                            </h5>

                            <form class="form p-t-10" enctype="multipart/form-data" action="/admin/settings/general/{{settings[0].id_setting}}"  method="post">
                                <div class="form-group">
                                    <label for="exampleInputuname">Title Web</label>
                                    <input type="text" name="title_web" class="form-control" value="{{settings[0].title_web}}" placeholder="Title Website" aria-label="Title Website" aria-describedby="basic-addon1">
                                </div>
                                
                                <div class="form-group">
                                    <label for="exampleInputuname">Subtitle Web</label>
                                    <input type="text" name="subtitle_web" class="form-control" value="{{settings[0].subtitle_web}}" placeholder="Subtitle Website" aria-label="Subtitle Website" aria-describedby="basic-addon1">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputuname">Contact Email</label>
                                    <input type="text" name="email" class="form-control" value="{{settings[0].email}}" placeholder="Contact Email" aria-label="Contact Email" aria-describedby="basic-addon1">
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label">Logo Website</label>
                                    <div class="input-group mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img style="max-width:150px; max-height:150px" src="/Admin/theme1/images/settings/{{settings[0].logo_web}}">
                                                <br><br>
                                                <input type="file" name="logo_web" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label">Favicon Website</label>
                                    <div class="input-group mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <img style="max-width:150px; max-height:150px" src="/Admin/theme1/images/settings/{{settings[0].favicon_web}}">
                                                <br><br>
                                                <input type="file" name="favicon_web" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Update</button>
                                <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
{% endblock %}