
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-pro"> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <img src="/admin/theme1/images/users/{{avatar_admin}}" alt="user-img" class="img-circle">
                                <span class="hide-menu">{{name}}</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/admin/edit_admin/{{id_admin}}"><i class="ti-user"></i> My Profile</a></li>
                                <li><a href="/admin/admin/edit_password/"><i class="ti-key"></i> Edit Password</a></li>
                                <li><a href="/admin/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-small-cap">--- MENU</li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-cart-plus"></i>
                                <span class="hide-menu">Invoice Maker</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/invoice/add">Add Invoice</a></li>
                                <li><a href="/admin/invoice">List Invoices</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-coffee"></i>
                                <span class="hide-menu">Products</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/product/add">Add Product</a></li>
                                <li><a href="/admin/product">List Products</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-archive"></i>
                                <span class="hide-menu">Categories</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/category/add">Add Category</a></li>
                                <li><a href="/admin/category">List Categories</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="has-arrow waves-effect waves-dark" href="javascript:avoid(0)" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <span class="hide-menu">Admins</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/admin/add">Add Admin</a></li>
                                <li><a href="/admin/admin">List Admin</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-edit"></i><span class="hide-menu">Settings</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/admin/settings/general">General Settings</a></li>
                            </ul>
                        </li>
					</ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->